html,body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#header
{
  top: 0;
  width: 100%;
  position: fixed;
  font-size: 25px;
  padding: 20px 0px 20px 0px;
  box-shadow :0px 2px 5px rgba(1, 1, 1, 0.5);
  text-align: center;
}

#footer
{
  bottom: 0;
  width: 100%;
  position: fixed;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  box-shadow :0px 2px 5px rgba(1, 1, 1, 0.5);
}

.item
{
  border-radius: 2px;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);
}

.subitem
{
  font-size: 16px;
  padding: 14px 0px 14px 0px;
}

.link
{
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0);

  -webkit-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -moz-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -o-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -ms-transition: background-color 200ms, box-shadow 200ms, color 200ms;

  border-radius:2px;
  padding: 2px;
  margin: 2px;
}

.link:hover
{
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);

  -webkit-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -moz-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -o-transition: background-color 200ms, box-shadow 200ms, color 200ms;
  -ms-transition: background-color 200ms, box-shadow 200ms, color 200ms;
}

a:link
{
  color: #000000;
  text-decoration: none;
}

#info 
{
  font-size: 20px;
}

#div_start 
{
  width: 100px;
  height: 100px;
  margin-top: 30px;
  margin-left: auto ;
  margin-right: auto ;
}

#headline
{
  text-decoration: none
}
    
#results 
{
  font-size: 14px;
  font-weight: bold;
  border: 0px solid #ddd;
  padding: 15px;
  margin: 15px 15px 15px 15px;
  text-align: left;
  min-height: 150px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#start_button 
{
  positon: absolute;
  border: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);
}
    
.interim 
{
  color: gray;
}
    
.final
{
  color: black;
  padding-right: 3px;
}
    
.button 
{
  display: none;
  border-radius: 2px;
  border-style: none;
  padding: 5px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);
}
   
.linkbutton 
{
  border-radius: 2px;
  border-style: none;
  padding: 10px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0);
  cursor: pointer;

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}   

.linkbutton:hover
{
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}
    
.marquee 
{
  margin: 20px auto;
}

#buttons 
{
  margin: 10px 0;
  position: relative;
  top: -50px; 
}

#copy 
{
  margin-top: 20px;
  margin-left: 15px;
}

#copy > div 
{
  display: none;
  margin: 0 70px;
}

a.c1 
{
  font-weight: normal;
}

#div_language
{
  margin-left: 15px;
}

select
{
  border-radius: 2px;
  border-style: none;
  padding: 5px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0.2);
}

#circle
{
  right: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}

span
{
  width:50%;
  text-align: center;
}

#footer-left
{
  left:0%;
  display: inline-block;
}

#footer-right
{
  float:right;
  right:0%;
  display: inline-block;
}

.slide
{
  width:100%;
  margin-top: 100px;
  text-align: center;
  box-shadow :0px 2px 5px rgba(0, 0, 0, .2);
}

.title
{
  font-size:20px;
  padding:20px;
}

.info
{
  font-size: 18px;
  padding:15px;
  width: 70%;
  margin: 25px 0px 0px 15%;
}

.extra_info
{
  text-align:justify;
  margin-top:25px;
}

.link_card
{
  cursor: pointer;
  display: inline-block;
  margin:2%;
  padding:1%;
  border-radius: 2px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0);

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}

.link_card:hover
{
  box-shadow :0px 2px 5px rgba(0, 0, 0, .2);

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}

.collapse_link
{
  margin-top:5px;
  font-size:12px;
  cursor: pointer;
  padding:.5%;
  display: inline-block;
  border-radius: 2px;
  box-shadow :0px 2px 5px rgba(0, 0, 0, 0);

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}

.collapse_link:hover
{
  box-shadow :0px 2px 5px rgba(0, 0, 0, .2);

  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  -ms-transition: box-shadow 200ms;
}

.collapse
{
  font-size: 0px;
  margin-top: -50px;
}