<div>
    <div class="job_header" ng-click="amazon = !amazon" ng-init="amazon=true">
        <table>
            <tr>
                <td>
                    <div class="arrow" ng-show="!amazon">&darr;</div>
                    <div class="arrow" ng-show="amazon">&uarr;</div>
                </td>
                <td>
                    Amazon Web Services
                    <div>System Development Engineer</div>
                    <div>2020-Current</div>
                </td>
            </tr>
        </table>
    </div>
    <ul ng-show="amazon">
        <li>Coordinate the launch of Server-Side Encryption for Kinesis Data Streams (KDS) in the Chinese Amazon Web
            Service regions,
            bringing those KDS regions up to feature parity with the other AWS regions</li>
        <li>Develop changes to Kinesis Data Analytics (KDA) applications and their respective pipelines to bring them to
            Full CI/CD
            that removes dozens of hours of user interactions and monitoring per deployment</li>
        <li>Participate in an On Call rotation supporting Kinesis services in GovCloud regions and for the GameSparks
            service</li>
        <li>Develop security automations to bring modules of the acquired GameSparks service up to Amazon standards</li>
        <li>Develop a pop-up questionnaire (I'm so sorry) to collect data from GameSparks customers about how they
            intend
            to
            transition their games off the service as we progress towards it's shutdown at the end of 2022</li>
        <li>Develop changes to the GameSparks web portal to remove functionality for publishing snapshots to continue
            the service's
            shutdown</li>
        <li>Transition to Software Development Engineer to support the launch of the new Amazon GameSparks service in
            Amazon Web Services
            <ul>
                <li>Not to be very easily confused with the previously mentioned acquired GameSparks service</li>
            </ul>
        </li>
    </ul>
</div>
<hr>
<div>
    <div class="job_header" ng-click="infosys = !infosys" ng-init="infosys=false">
        <table>
            <tr>
                <td>
                    <div class="arrow" ng-show="!infosys">&darr;</div>
                    <div class="arrow" ng-show="infosys">&uarr;</div>
                </td>
                <td>
                    Infosys
                    <div>Technology Analyst (DevOps)</div>
                    <div>2017-2020</div>
                </td>
            </tr>
        </table>
    </div>
    <ul ng-show="infosys">
        <li>Apple
            <ul>
                <li>Firewall, DNS and SSL Certificate Administration for over 100 internal and external facing services
                </li>
                <li>Virtual Machine resource pool management which includes provisioning, monitoring and decommissioning
                </li>
                <li>Develop OS patching automation that removed a monthly 4 hour downtime on each of our production
                    Druid clusters</li>
                <li>Onboard new and existing applications to Jenkins from their existing proprietary CI/CD Pipeline</li>
            </ul>
        </li>
        <li>Wells Fargo
            <ul>
                <li>Migrate 20 applications from manual builds and deployments, to a CI/CD pipeline using Jenkins, Team
                    Foundation Server, Artifactory and IBM UrbanCode Deploy</li>
                <li>Analysis and Coordination of app teams to determine and execute the ability to enhance the build
                    pipeline</li>
            </ul>
        </li>
        <li>Charles Schwab
            <ul>
                <li>Setup and maintaining an Atlassian Stack (Bamboo, Bitbucket, etc.), Nexus Maven Repositories,
                    Sonarqube, Splunk, Jenkins</li>
                <li>Automation Development and Systems Administration for Windows and Linux environments with Bash and
                    Powershell that allows for automatic systems resource management. Tools I developed reduced incoming
                    tickets by ~100 per week as well as increased uptime on system build agents by ~25%</li>
                <li>Provision new environments for building and deploying applications</li>
            </ul>
        </li>
    </ul>
</div>
<hr>
<div>
    <div class="job_header" ng-click="revature = !revature" ng-init="revature=false">
        <table>
            <tr>
                <td>
                    <div class="arrow" ng-show="!revature">&darr;</div>
                    <div class="arrow" ng-show="revature">&uarr;</div>
                </td>
                <td>
                    Revature
                    <div>Software Developer</div>
                    <div>2017</div>
                </td>
            </tr>
        </table>
    </div>
    <ul ng-show="revature">
        <li>Java Development with Hibernate, JDBC, Spring framework with Jenkins for Continuous Integration</li>
        <li>Web Development and Unit Testing with Spring MVC and jQuery and AngularJS</li>
        <li>Linux System Administration on Amazon Web Service's AMI</li>
        <li>Database Administration through Amazon Web Services' Relational Database Service with Oracle 11g and SQL
            Developer</li>
        <li>Lead Developer for the Bootcamp Agenda Manager API that connected the AngularJS frontend to the Spring MVC
            and Hibernate backend as well as mimic a Salesforce API</li>
    </ul>
</div>
<hr>
<div>
    <div class="job_header" ng-click="isu = !isu" ng-init="isu=false">
        <table>
            <tr>
                <td>
                    <div class="arrow" ng-show="!isu">&darr;</div>
                    <div class="arrow" ng-show="isu">&uarr;</div>
                </td>
                <td>
                    Indiana State University
                    <div>Student Web Developer</div>
                    <div>2015-2017</div>
                </td>
            </tr>
        </table>
    </div>
    <ul ng-show="isu">
        <li>Windows and Linux system administration for 50 independent digital signage systems</li>
        <li>Java/Web Application Development for Faculty and Staff projects</li>
        <li>Lead and teach other student employees in Software Development and IT skills</li>    
    </ul>
</div>